/* Use this file to use your own styles*/
/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
/* Styles for the body */

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	color: #202030;
	background-color: #D8CFB3
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
  font-family: "Boldonse", system-ui;
  font-weight: 100;
  font-style: normal;
    background-color: #AECCB8;
}

.resume-headertext {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
	background-color: #AECCB8;
}

.resume-main {
	background-color: #AECCB8;
}

.resume-aside {
	background-color: #96AF9B;
}

.border-info {
    border-color: #2A5A39 !important;
}

.bg-warning {
    background-color: #2A5A39 !important;
}

.language-level {
	color: #D8CFB3 
}

.bg-dark {
	color: #D8CFB3  
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "𔓘";
	font-weight: 800;
	display: inline-block;
	width: 1.5em;
	margin-left: -1em;
}

.biography-details li::before {
	color:#4A7659;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 2em;
}