/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

/* Styles for the body */

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" 
	color: #202030;
	background-color: #D8CFB3
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
	font-family: "Barriecito", system-ui;
    background-color: #AECCB8;
}

.resume-headertext {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color: #AECCB8;
}

.resume-main {
	background-color: #AECCB8;
}

.resume-aside {
	background-color: #96AF9B;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "ð–¦¹";
	font-weight: 800;
	display: inline-block;
	width: 1.5em;
	margin-left: -1em;
}

.biography-details li::before {
	color:#4A7659;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 2em;
}